body{
    margin: 0px;
    padding: 0px:
}

header{
    display: flex

}

#banner{
    height: 500px;
    display: flex;
    flex-direction: row;
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
}

 .button{
    background: linear-gradient(to bottom right, #009874, #5F4B8B);
    border-radius:24px;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
    margin: 0 16px;
}

#banner .gradientPG figure{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid white 25px;
    overflow: hidden;
    position: absolute;
    right: -40px;
    -webkit-box-shadow: 7px 6px 24px 0px rgba(95,75,139,0.24);
    -moz-box-shadow: 7px 6px 24px 0px rgba(95,75,139,0.24);
    box-shadow: 7px 6px 24px 0px rgba(95,75,139,0.24); 
}

#banner .gradientPG figure img {
    width: 250px;
    
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 1em;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    text-align: left;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
    text-align: left;
    padding: 10px;
}

h2.sectitle{
    font-family: 'Open Sans', sans-serif;
    margin-top: 80px;
    text-align: center;
    font-style: 
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding: 10px;
}

h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
}

div div p{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    padding: 10px;
}

.gradientPG{
    background-image: linear-gradient(to bottom right, #009874, #5F4B8B);
    width: 30%;
    display: flex;
    align-items: center;
    position: relative;
    -webkit-box-shadow: 7px 6px 24px 0px rgba(95,75,139,0.24);
    -moz-box-shadow: 7px 6px 24px 0px rgba(95,75,139,0.24);
    box-shadow: 7px 6px 24px 0px rgba(95,75,139,0.24); 
}

.grid-container{
    margin: 2em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid white;
    grid-gap: 40px 40px;
}

.grid-item{
    background-image: linear-gradient(to bottom right, #009874, #5F4B8B);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;

}


@media (max-width: 900px) {

    #banner{
        height: 400px;
        flex-direction: column;
    }

    .gradientPG {
        width: 100%;
        height: 100%;
        justify-content: center;
        position: relative;
    }

    #banner .gradientPG figure{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: solid white 25px;
        overflow: hidden;
        position: absolute;
        right: auto;
        bottom: -50px;
        -webkit-box-shadow: 7px 6px 24px 0px rgba(95,75,139,0.24);
        -moz-box-shadow: 7px 6px 24px 0px rgba(95,75,139,0.24);
        box-shadow: 7px 6px 24px 0px rgba(95,75,139,0.24); 
    }

    .info{
        width: 100%;
    }

}


@media (max-width: 768px) {
    .grid-container{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px 40px;
    }
}

@media (max-width: 360px) {
    .grid-container{
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: 40px 40px;
    }
}

article.woli{
    background-image:url(../assets/WOLI@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100vw;
    min-height: 500px;
    position: relative;
}

.pistolon{
width: 35%;
height: 500px;
background-image: linear-gradient(to bottom right, #009874, #5F4B8B);
border-radius: 0 250px 250px 0;
position: absolute;
left: -250px;
display: flex;
flex-direction: column;
justify-content: center;
transition: 0.4s ease;
}

.pistolon h2, .pistolon h3{
    color: white;
    position: relative;
    left: 250px;
    transition: 0.4s ease;
}

.pistolon:hover {
    width: 90vw;
    left: 0;
    border-radius: 0 250px 250px 0;
}

.pistolon:hover h2, .pistolon:hover h3 {
    left: 125px;
}

.pistolon p{
    display: none
}
.pistolon:hover p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    color: white;
    display: flex;
    justify-content: center;
    margin: 1em;
    padding: 10px;
}